exportPattern("^[[:alpha:]]+")
S3method(plot, qad)
S3method(predict, qad)
S3method(coef, qad)
S3method(summary, qad)
S3method(qad, data.frame)
S3method(qad, numeric)
import(data.table)
import(plyr)
import(ggplot2)
import(copula)
import(doParallel)
import(foreach)
importFrom("stats", "ecdf", "quantile", "na.omit", "approxfun", "approx")
importFrom("parallel", "detectCores")
