exportPattern("^[[:alpha:]]+")
S3method(plot, qad)
S3method(predict, qad)
S3method(coef, qad)
S3method(summary, qad)
S3method(qad, data.frame)
S3method(qad, numeric)
import(data.table, except=c(first, last, between))
import(dplyr)
import(ggplot2)
import(copula)
import(doParallel)
import(foreach)
import(viridis)
importFrom("grDevices", "rainbow")
importFrom("stats", "ecdf", "quantile", "na.omit", "approxfun", "approx")
importFrom("parallel", "detectCores")
importFrom("ggExtra", "ggMarginal")
